*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1270px;
    padding: 0 15px;
    margin: auto;
}
.row::after{
    content: '';
    clear: both;
    display: block;
}
.col-50{
    width: 50%;
    float: left;
}
.col-25{
    width: 25%;
    float: left;
}

/* card here */
.card{
    padding: 10px;
    background: #ccc;
    border: 2px solid #ddd;
}
.card-title{
    background: tomato;
    margin: -10px -10px 0px -10px;
}
.card-title h1{
    padding: 15px;
    font-size: 18px;
    color: #fff;
}
.card-body{
    padding: 15px;
}
.card-body p{
    font-size: 14px;
    line-height: 25px;
}

.card-footer{
    background: tomato;
    margin: 0px -10px -10px -10px;
}
.card-footer a{
    display: block;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    color: #fff;
}